* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  color: #fff;
}
#container {
  height: 812px;
  width: 375px;
  background-color: #192038;
  margin: auto;
  border-radius: 20px;
  padding: 12px 15px;
}
#icons1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "SF Pro Display", sans-serif;
}
#icons2 {
  display: flex;
  justify-content: space-between;
}
#icons2 img {
  margin: 30px 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
#img1 {
  width: 70%;
}
#img2 {
  width: 70%;
  margin-top: -265px;
  margin-bottom: 40px;
}
/* .grid {
  border: 1px solid red;
} */
#grid {
  display: grid;
  grid-template-areas: "h1 h1 h1 h1 h1" "p p p p p" "icon1 icon2 icon3 icon4 icon5" "icon6 icon6 icon6 icon6 icon6";
  grid-template-columns: 75px 75px 100px 75px;
  grid-template-rows: 40px 40px 80px 50px;
  width: 100%;
  justify-content: center;
}
#grid > h1 {
  font-size: 18px;
  font-weight: 500;
  grid-area: h1;
  justify-self: center;
}
#grid > p {
  font-size: 8px;
  grid-area: p;
  justify-self: center;
}
#icon1 {
  grid-area: icon1;
  align-self: center;
  width: 16.12px;
}
#icon2 {
  grid-area: icon2;
  align-self: center;
  width: 15.86px;
}
#icon3 {
  grid-area: icon3;
  align-self: center;
  width: 40.29px;
}
#icon4 {
  grid-area: icon4;
  align-self: center;
  width: 15.86px;
}
#icon5 {
  grid-area: icon5;
  align-self: center;
  width: 21.15px;
}
#icon6 {
  grid-area: icon6;
  align-self: center;
  width: 100%;
}
#titleList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#titleList > h4 {
  font-size: 14px;
}
#titleList > p {
  font-size: 10px;
}
aside {
  width: 100%;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}
.item {
  display: grid;
  grid-template-areas: "img date time" "img h5 h5";
  grid-template-columns: 60px 80px 170px;
  grid-template-rows: 30px 20px;
  align-items: center;
}
.list #img {
  grid-area: img;
  width: 48px;
}
.list #date {
  grid-area: date;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.8);
}
.list #time {
  grid-area: time;
  font-size: 8px;
}
.list h5 {
  grid-area: h5;
  font-size: 14px;
  align-self: self-start;
}
.list #points {
  width: 16px;
}
